[*.cs]

# IDE0051: Remove unused private members
dotnet_diagnostic.IDE0051.severity = none

# IDE0060: Remove unused parameter
dotnet_diagnostic.IDE0060.severity = none

# IDE0044: Add readonly modifier
dotnet_diagnostic.IDE0044.severity = none
